<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lihat Daftar Peminjaman</title>
    <div th:replace="fragments/fragment :: headTable"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <div th:replace="fragments/fragment :: header"></div>
        <div th:replace="fragments/fragment :: sidebar"></div>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Daftar Peminjaman
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-book"></i> Home</a></li>
                    <li class="active">Daftar Literatur</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content" style="min-height:800px !important;">
            		<div class="text-right">
				 	<a th:if="${role != null AND role != 'ROLE_STAF'}" href="#" class="btn btn-success btn-xs"><i class="fa fa-plus" aria-hidden="true" ></i> Tambah data</a>
				 </div>
				 <br/>
            		<!-- TABLE: LATEST ORDERS -->
				<div class="box box-info">
				  <!-- /.box-header -->
				 <div class="box-body">
				     <table class="table no-margin" id="daftarLiteratur" >
				       <thead>
				       <tr th:if="${role} == 'ROLE_STAF' " th:each = "pengadaanLiteratur,iterationStatus: pengadaanLiteraturs">
				         <th>Username Pengaju</th>
				         <th>Judul</th>
				         <th>Penulis</th>
				         <th>Penerbit</th>
				         <th>Status</th>
				       </tr>
				       <tr th:unless="${role} == 'ROLE_STAF' " th:each = "peminjamanLiteratur,iterationStatus: peminjamanLiteraturs">
				         <th>Literatur</th>
				         <th>Username Peminjam</th>
				         <th>Tanggal peminjaman</th>
				         <th>Tanggal Pengembalian</th>
				         <th>Status Peminjaman</th>
				       </tr>
				       </thead>
				       <tbody>
				       <tr th:if="${pengadaanLiteraturs != null AND !pengadaanLiteraturs.isEmpty() AND role == 'ROLE_STAF'}" 
				        		th:each = "pengadaanLiteratur,iterationStatus: ${pengadaanLiteraturs}">
				       	 <td th:text= "${pengadaanLiteratur.username_requester}"></td>
				         <td th:text= "${pengadaanLiteratur.judul}"></td>
				         <td th:text= "${pengadaanLiteratur.penulis}"></td>
				         <td th:text= "${pengadaanLiteratur.penerbit}"></td>
				         <td th:text= "${pengadaanLiteratur.status}"></td>
				       </tr>
				       <tr th:if="${peminjamanLiteraturs != null AND !peminjamanLiteraturs.isEmpty() AND role != 'ROLE_STAF'}" 
				        		th:each = "peminjamanLiteratur,iterationStatus: ${peminjamanLiteraturs}">
				       	 <td>
				       	 	<a th:href="'/literatur/view/'+${peminjamanLiteratur.id_literatur }" class="btn btn-info btn-xs ad-click-event" >
								<i class="fa fa-share" aria-hidden="true"></i> Detail Literatur
							 </a>
				       	 </td>
				         <td th:text= "${peminjamanLiteratur.username_peminjaman}"></td>
				         <td th:text= "${peminjamanLiteratur.tanggal_peminjaman}"></td>
				         <td th:text= "${peminjamanLiteratur.tanggal_pengembalian}"></td>
				         <td th:text= "${peminjamanLiteratur.status_peminjaman}"></td>
				       </tr>
				       </tbody>
				     </table>
				   <!-- /.table-responsive -->
				 </div>
				</div>
				 <!-- /.box-body -->
				 <!-- /.box-footer -->
				 
				<!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer th:replace="fragments/fragment :: footer-an"></footer>
        <div th:replace="fragments/fragment :: javascriptTable"></div>
    </div>
</body>
</html>