<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Literatur</title>
    <div th:replace="fragments/fragment :: head"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/fragment :: header"></div>
    <div th:replace="fragments/fragment :: sidebar"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Detail Literatur
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-book"></i> Home</a></li>
                <li class="active">Detail Literatur</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <h2 th:text="'ID Literatur:'  + ${literatur.id}">Literatur ID</h2>
            <h2 th:text="'Judul:'  + ${literatur.judul}">Literatur Judul</h2>
            <h2 th:text="'Penulis:'  + ${literatur.penulis}">Literatur Penulis</h2>
            <h2 th:text="'Penerbit:'  + ${literatur.penerbit}">Literatur Penerbit</h2>
            <h2 th:text="'Jenis:'  + ${literatur.jenis_literatur}">Literatur Jenis</h2>
            <h2 th:text="'Jumlah:'  + ${literatur.jumlah}">Literatur Jumlah</h2>
            <h2 th:text="'Status:'  + ${literatur.status}">Literatur Status</h2>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="fragments/fragment :: footer"></div>
    <div th:replace="fragments/fragment :: javascript"></div>
</div>
</body>
</html>