    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Literatur</title>
    <div th:replace="fragments/fragment :: head"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/fragment :: header"></div>
    <div th:replace="fragments/fragment :: sidebar"></div>
    <div class="content-wrapper" style="background-color: white;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Detail Literatur
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-book"></i> Home</a></li>
                <li class="active">Detail Literatur</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>1</th>
                                    <th>ID</th>
                                    <td th:text="${literatur.id}"></td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Judul</th>
                                    <td th:text="${literatur.judul}"></td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <th>Penulis</th>
                                    <td th:text="${literatur.penulis}"></td>
                                </tr>
                                <tr>
                                    <th>4</th>
                                    <th>Penerbit</th>
                                    <td th:text="${literatur.penerbit}"></td>
                                </tr>
                                <tr>
                                    <th>5</th>
                                    <th>Jenis Literatur</th>
                                    <td th:text="${literatur.jenis_literatur}"></td>
                                </tr>
                                <tr>
                                    <th>6</th>
                                    <th>Jumlah</th>
                                    <td th:text="${literatur.jumlah_pinjam}"></td>
                                </tr>
                                <tr>
                                    <th>7</th>
                                    <th>Status</th>
                                    <td th:text="${literatur.last_status}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="fragments/fragment :: footer"></div>
    <div th:replace="fragments/fragment :: javascript"></div>
</div>
</body>
</html>