<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Literatur</title>
    <div th:replace="fragments/fragment :: head"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <div th:replace="fragments/fragment :: header"></div>
        <div th:replace="fragments/fragment :: sidebar"></div>
        <div class="content-wrapper" style="background-color: white;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Tambah Literatur
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-book"></i> Home</a></li>
                    <li class="active">Tambah Literatur</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <form action="">
                            <div class='form-group'>
                                <label >Username</label>
                                <p>
                                    <input type='text' value='' class='form-control input-sm' name='username' required placeholder='Username'>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:replace="fragments/fragment :: footer"></div>
        <div th:replace="fragments/fragment :: javascript"></div>
    </div>
</body>
</html>