<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Literatur</title>
    <div th:replace="fragments/fragment :: head"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <div th:replace="fragments/fragment :: header"></div>
        <div th:replace="fragments/fragment :: sidebar"></div>
        <div class="content-wrapper" style="background-color: white;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Tambah Literatur
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-book"></i> Home</a></li>
                    <li class="active">Tambah Literatur</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/literatur/tambah" method="post" id="form">
                            <div class='form-group'>
                                <label >Judul</label>
                                <p>
                                    <input type='text' value='' class='form-control input-sm' name='judul' id="judul" required placeholder='Judul'>
                                </p>
                            </div>
                            <div class='form-group'>
                                <label >Penulis</label>
                                <p>
                                    <input type='text' value='' class='form-control input-sm' name='penulis' required placeholder='Penulis'>
                                </p>
                            </div>
                            <div class='form-group'>
                                <label >Pembimbing</label>
                                <p>
                                    <input type='text' value='' class='form-control input-sm' name='pembimbing' required placeholder='Pembimbing'>
                                </p>
                            </div>
                            <div class='form-group'>
                                <label >Upload Dokumen</label>
                                <p>
                                    <input type='file' value='' class='form-control input-sm' name='dokumen' accept="application/pdf" required placeholder='dokumen'>
                                </p>
                            </div>
                            <div>
                                <button type="button" id="action" name="action" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:replace="fragments/fragment :: footer"></div>
        <div th:replace="fragments/fragment :: javascript"></div>

        <div class="modal modal-danger fade" id="modal-gagal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Gagal</h4>
                    </div>
                    <div class="modal-body">
                        <p>Literatur sudah ada !</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal modal-success fade" id="modal-berhasil">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Berhasil</h4>
                    </div>
                    <div class="modal-body">
                        <p>Literatur berhasil ditambahkan !</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</body>
<script>
    $("#action").click(function () {
        var form = $("#form");
        var result = form.valid();
        $("label.error").css('color','red');
        if(result){
            $.ajax({
                url:'/literatur/tambah',
                method:'post',
                data:{data:JSON.stringify(form.serializeArray())},
                dataType:'json',
                success: function (resp) {
                    if(resp){
                        $("#modal-berhasil").modal("show");
                        form[0].reset();
                    }else{
                        $("#modal-gagal").modal("show");
                    }
                },
                error: function(e){ alert ("Error " + e); }
            });
        }
    });
</script>
</html>